<div class="header clearfix">
  <h4 class="loginHeading">Driver Login</h4>
</div>

<!-- Start container-->
<div class="container"> 
    
  <div class="headerImg"> 
      <img src="./partials/images/login/login_logo.png" alt="rideShare" class="img-responsive center-block">
  </div>

  <div class="headerImg1"> 
      <img src="./partials/images/login/driverLogActive_icons.png" alt="rideShare" class="img-responsive center-block" usemap="#planetmap">
  </div>

  <map name="planetmap">
    <area shape="circle" coords="120,78,40" href="#/login" style="outline:0;">
  </map>

  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <form name="form" ng-submit="driverlogin()">
      <div class="row top-buffer"></div>

      <div class="form-group">
        <input type="text" class="register-input" placeholder="User name" name="username" ng-model="loginForm.dusername" minlength="3" maxlength="20" required>
      </div>
      <div class="row top-buffer"></div>
      <div class="form-group">
        <input type="password" class="register-input" name="password" placeholder="Password" ng-model="loginForm.dpassword" minlength="3" maxlength="20" required>
      </div>

      <div class="row top-buffer"></div>
      <div class="row top-buffer"></div>

      <button type="submit" class="btn btn-info btn-block" ng-disabled="disabled">Login</button>
    </form>

    <div class="row top-buffer"></div>

    <a href="#">Forgot Password?</a>

    <div class="row top-buffer"></div>
    
    <button type="submit" onclick="window.location.href = '#/driverregister'" class="btn btn-warning btn-block">Register << needs to remove>> </button>

  </div>

</div> <!-- End container div -->