<div class="header clearfix">
    <h4 class="loginHeading">Drivers</h4>

<!-- Navigation bar -->
    <div class="jquery-script-ads" align="center" style="margin:0px auto;">
      <script type="text/javascript"><!--
        google_ad_client = "ca-pub-2783044520727903";
        /* jQuery_demo */
        google_ad_slot = "2780937993";
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div>
    &nbsp&nbsp
    <button class="offcanvas__trigger--open btn" data-offcanvas-open="my-navigation" style="outline:0;">
      <img src="./partials/images/navigation/nav.png" alt="rideShare" class="img-responsive center-block">
    </button>

    <section id="my-navigation" class="offcanvas">
      <div class="header2 clearfix">
          <img style="float:left" src="./partials/images/navigation/navigation.png" alt="rideShare" class="img-responsive">


          <!-- <div ng-controller="loginController"> -->
            <h4 class="loginHeading">{{authentication.user.username}}Hiso</h4>

          <!-- </div> -->
        

          <!-- <h4 class="loginHeading">Username</h4> -->
      </div> <br>

      <table style="width:100%" border="0">
        <tr>
          <td>
            <img style="float:left;margin: 10px;" src="./partials/images/navigation/edit.png" alt="rideShare" class="img-responsive"></td>
          <td align="left"><button id="myBtn1" onclick="editFunction()">Edit Profile</button></td> 
        </tr>
        <tr>
          <td>
            <img style="float:left;margin: 10px;" src="./partials/images/navigation/history.png" alt="rideShare" class="img-responsive">
          </td>
          <td align="left"><button id="myBtn2" onclick="historyFunction()">History</button></td> 
        </tr>
        <tr>
          <td>
            <img style="float:left;margin: 10px;" src="./partials/images/navigation/settings.png" alt="rideShare" class="img-responsive">
          </td>
          <td align="left"><button id="myBtn3" onclick="settingsFunction()">Settings</button></td> 
        </tr>
        <tr>
          <td>
            <img style="float:left;margin: 10px;" src="./partials/images/navigation/help.png" alt="rideShare" class="img-responsive">
          </td>
          <td align="left"><button id="myBtn4" onclick="helpFunction()">Help</button></td> 
        </tr>
        <tr>
          <td>
            <img style="float:left;margin: 10px;" src="./partials/images/navigation/about.png" alt="rideShare" class="img-responsive">
          </td>
          <td align="left"><button id="myBtn5" onclick="aboutFunction()">About</button></td> 
        </tr>
        <tr>
          <td>
          	<img style="float:left;margin: 10px;" src="./partials/images/navigation/logout.png" alt="rideShare" class="img-responsive" ng-submit=logOut()>
          </td>
          <td align="left">
            <div ng-controller="logoutController">
              <!-- <a ng-click='logout()' class="logoutBtn">Logout</a> -->
              <button style="margin-left: -12px;" ng-click='logout()' class="logoutBtn"><p class="logout">Logout</p></button>
            </div>
          </td> 
        </tr>
        
      </table>


      <br><br>
      <button style="margin-left: -9px; outline:0;" class="offcanvas__trigger--close btn" data-offcanvas-close="my-navigation">Close</button>
    </section>
    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="./partials/css/iptools-jquery-offcanvas.min.js"></script>
      <script>
      $(document).ready(function() {
          $('#my-navigation').iptOffCanvas({
            baseClass: 'offcanvas',
            type: 'left' // top, right, bottom, left.
          });
        });
      </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36251023-1']);
      _gaq.push(['_setDomainName', 'jqueryscript.net']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

     
  <!-- End Navigation bar -->
</div>


	<div class="header2 clearfix">
	  <div class="form-group col-xs-6">
	    <div class ="myLocationLable">
	      <label > My Loation </label>
	    </div>
	    <!-- <input type="text" class="register-input" style="text-align:center;" ng-model="myLocation"></input> -->
      <input id="origin-input" class="controls" type="text" placeholder="Enter an origin location">
	  </div>
	  <div class="form-group col-xs-6">
	    <div class ="destinationLable">
	      <label> Destination </label>
	    </div>
	    <!-- <input type="text" class="register-input" style="text-align:center;" ng-model="destination"></input> -->
      <input id="destination-input" class="controls" type="text" placeholder="Enter a destination location">
	  </div>
	</div>

<!-- Map Direction mode-selector -->

   <!--  <input id="origin-input" class="controls" type="text"
        placeholder="Enter an origin location">

    <input id="destination-input" class="controls" type="text"
        placeholder="Enter a destination location"> -->

    <!-- <div id="mode-selector" class="controls">
      <input type="radio" name="type" id="changemode-walking" checked="checked">
      <label for="changemode-walking">Walking</label>

      <input type="radio" name="type" id="changemode-transit">
      <label for="changemode-transit">Transit</label>

      <input type="radio" name="type" id="changemode-driving">
      <label for="changemode-driving">Driving</label>
    </div> -->


<!-- ===============Trigger/Open The Modal================== -->

<!-- The Modal -->
<!-- <div id="myModal" class="modal">

  <div class="modal-content">
    <span class="close">×</span>
    <div align="center" ng-controller='usersController'>
    <img src="/images/login/userLog_icon.png" alt="rideShare" class="img-responsive center-block">

    </div>
    <div ng-controller="bookingController">
      <form ng-submit="createBooking()" name="myForm">
        <input type="hidden" value="booked" class="register-input" ng-model="booking">
        <button type="submit" class="btn btn-warning btn-block">Confirm</button>
      </form>
    </div>

  </div>

</div> -->

<!-- Popup menu The Modal 1 -->
<div id="myModal1" class="modal1">

  <!-- Modal content -->
  <div class="modal-content1">
    <span class="close1">×</span>
    <img src="./partials/images/login/userLog_icon.png" alt="rideShare" class="img-responsive center-block">        
        <form ng-submit="createUser()" name="myForm">
          <div class="form-group col-xs-6">
            <input type="text" class="register-input" placeholder="First name" ng-model="fname" minlength="3" maxlength="20" required></input>
            <!-- <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid"> -->
          </div>
          <div class="form-group col-xs-6">
            <input type="text" class="register-input" placeholder="Last name" ng-model="lname" minlength="3" maxlength="20" required></input>
          </div>
          <!-- <div class="row top-buffer"></div> -->
          <div class="row top-buffer"></div>
          <div class="form-group col-xs-12">

            <input type="text" class="register-input" ng-model="uname" minlength="3" maxlength="20" required readonly placeholder={{user.uname}}></input>

          </div>
          <div class="row top-buffer"></div>
          <div class="row top-buffer"></div>
          <div class="form-group col-xs-12">
            <input type="password" class="register-input" placeholder="Password" ng-model="password" minlength="3" maxlength="20" required></input>
          </div>
<!--           <div class="row top-buffer"></div>
          <div class="row top-buffer"></div> -->
          <div class="row top-buffer"></div>
          <div class="row top-buffer"></div>
          <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-warning btn-block">Create</button>
          </div>
        </form>
      <!-- </li>
      </ul> -->
        <div class="row top-buffer"></div>

      <!-- </div> -->


  </div>
   
</div>


<!-- Popup menu The Modal 2 -->
<div id="myModal2" class="modal2">

  <!-- Modal content -->
  <div class="modal-content2">
    <span class="close2">×</span>
    <img src="./partials/images/login/userLog_icon.png" alt="rideShare" class="img-responsive center-block">
    <!-- <h1 id="length">Logged in user length is: {{users.length}}</h1> -->
       <p>What started as an app to request premium black cars in a few metropolitan areas is now changing the logistical fabric of cities around the world. Whether it’s a ride, a sandwich, or a package, we use technology to give people what they want, when they want it.

For the women and men who drive with Ride Share, our app represents a flexible new way to earn money. For cities, we help strengthen local economies, improve access to transportation, and make streets safer. When you make transportation as reliable as running water, everyone benefits. Especially when it’s snowing outside.</p>
  </div>
   
</div>



<!-- Popup menu The Modal 3 -->
<div id="myModal3" class="modal3">

  <!-- Modal content -->
  <div class="modal-content3">
    <span class="close3">×</span>
    <img src="./partials/images/login/userLog_icon.png" alt="rideShare" class="img-responsive center-block">
    <!-- <h1 id="length">Logged in user length is: {{users.length}}</h1> -->
       <p>Settings</p>
  </div>
   
</div>

<!-- Popup menu The Modal 4 -->
<div id="myModal4" class="modal4">

  <!-- Modal content -->
  <div class="modal-content4">
    <span class="close4">×</span>
    <img src="./partials/images/login/userLog_icon.png" alt="rideShare" class="img-responsive center-block">
    <!-- <h1 id="length">Logged in user length is: {{users.length}}</h1> -->
       <p>Help</p>
  </div>
   
</div>


<!-- Popup menu The Modal 5 -->
<div id="myModal5" class="modal5">

  <!-- Modal content -->
  <div class="modal-content5">
    <span class="close5">×</span>
    <img src="./partials/images/login/userLog_icon.png" alt="rideShare" class="img-responsive center-block">
    <!-- <h1 id="length">Logged in user length is: {{users.length}}</h1> -->
       <p>Ride Share is the smartest way to get around. One tap and a car comes directly to you. Your driver knows exactly where to go. And payment is completely cashless. <br><br>
        You can always request everyday cars at everyday prices. But sometimes you need a bit more space. Or you want to go big on style. With Uber, the choice is yours
       </p>
  </div>
   
</div>


<!-- ========================================== -->


<!-- Google Map APIs -->
<div id="map" style="height:100vh; width:100%; max-width:100%;"></div>

<script>
  function initMap() {
    var userPosition = {lat: 6.93622529, lng: 79.8800723};

    var locations = [
      ['<form class="form" ng-submit="booking()"><input type="hidden" name="booking" value="booked" class="register-input" placeholder="Booking" ng-model="bookingForm.booking"></input><button type="submit" class="btn btn-warning btn-block" id="myBtn">Confirmmm</button></form>', 6.93979, 79.87395 , 4],

      ['<div ng-controller="bookingController"><input type="hidden" value="booked" class="register-input" placeholder="Booking" ng-model="booking"></input><button class="btn btn-warning btn-block" id="myBtn" onclick="myFunction()">Confirm</button></div>', 6.93960, 79.86827, 5],

      ['<div ng-controller="bookingController"><input type="hidden" value="booked" class="register-input" placeholder="Booking" ng-model="booking"></input><button class="btn btn-warning btn-block" id="myBtn" onclick="myFunction()">Confirm</button></div>', 6.93579, 79.88362, 3],

      ['<div ng-controller="bookingController"><input type="hidden" value="booked" class="register-input" placeholder="Booking" ng-model="booking"></input><button class="btn btn-warning btn-block" id="myBtn" onclick="myFunction()">Confirm</button></div>', 6.94427, 79.88135, 2],

      ['<div ng-controller="bookingController"><input type="hidden" value="booked" class="register-input" placeholder="Booking" ng-model="booking"></input><button class="btn btn-warning btn-block" id="myBtn" onclick="myFunction()">Confirm</button></div>', 6.94682, 79.87830, 1]
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      mapTypeControl: false,
      center : userPosition,
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });



// Directions Service

 var origin_place_id = null;
        var destination_place_id = null;
        var travel_mode = google.maps.TravelMode.WALKING;


        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        directionsDisplay.setMap(map);

        var origin_input = document.getElementById('origin-input');
        var destination_input = document.getElementById('destination-input');
        var modes = document.getElementById('mode-selector');

        map.controls[google.maps.ControlPosition.TOP_LEFT].push(origin_input);
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(destination_input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(modes);

        var origin_autocomplete = new google.maps.places.Autocomplete(origin_input);
        origin_autocomplete.bindTo('bounds', map);
        var destination_autocomplete =
            new google.maps.places.Autocomplete(destination_input);
        destination_autocomplete.bindTo('bounds', map);

        // Sets a listener on a radio button to change the filter type on Places
        // Autocomplete.
        // function setupClickListener(id, mode) {
        //   var radioButton = document.getElementById(id);
        //   radioButton.addEventListener('click', function() {
        //     travel_mode = mode;
        //   });
        // }
        // setupClickListener('changemode-walking', google.maps.TravelMode.WALKING);
        // setupClickListener('changemode-transit', google.maps.TravelMode.TRANSIT);
        // setupClickListener('changemode-driving', google.maps.TravelMode.DRIVING);

        function expandViewportToFitPlace(map, place) {
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);
          }
        }

        origin_autocomplete.addListener('place_changed', function() {
          var place = origin_autocomplete.getPlace();
          if (!place.geometry) {
            window.alert("Autocomplete's returned place contains no geometry");
            return;
          }
          expandViewportToFitPlace(map, place);

          // If the place has a geometry, store its place ID and route if we have
          // the other place ID
          origin_place_id = place.place_id;
          route(origin_place_id, destination_place_id, travel_mode,
                directionsService, directionsDisplay);
        });

        destination_autocomplete.addListener('place_changed', function() {
          var place = destination_autocomplete.getPlace();
          if (!place.geometry) {
            window.alert("Autocomplete's returned place contains no geometry");
            return;
          }
          expandViewportToFitPlace(map, place);

          // If the place has a geometry, store its place ID and route if we have
          // the other place ID
          destination_place_id = place.place_id;
          route(origin_place_id, destination_place_id, travel_mode,
                directionsService, directionsDisplay);
        });

        function route(origin_place_id, destination_place_id, travel_mode,
                       directionsService, directionsDisplay) {
          if (!origin_place_id || !destination_place_id) {
            return;
          }
          directionsService.route({
            origin: {'placeId': origin_place_id},
            destination: {'placeId': destination_place_id},
            travelMode: travel_mode
          }, function(response, status) {
            if (status === google.maps.DirectionsStatus.OK) {
              directionsDisplay.setDirections(response);
            } else {
              window.alert('Directions request failed due to ' + status);
            }
          });
        }



// Multiple markers

  // var image        = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
  var image_cabs = 'http://maps.google.com/mapfiles/ms/micons/cabs.png';
  var image_person = 'http://maps.google.com/mapfiles/ms/micons/man.png';

    var infoWindow = new google.maps.InfoWindow({map: map});
    //
    var infowindow = new google.maps.InfoWindow();

      var marker, i;

      for (i = 0; i < locations.length; i++) {  
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          icon: image_cabs,
          map: map
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }


// geolocation

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        var marker = new google.maps.Marker({
        position: pos,
        icon: image_person,
        map: map,
        title: 'View Details'
      });

        //marker.setPosition(pos);
        infoWindow.setPosition(pos);
        infoWindow.setContent('<ul><li ng-repeat="user in users">'+
                                  'Hi user !!!<br> Please book your closest vehicle'+
                                '</li>'+
                              '</ul>');
        // map.setCenter(pos);

      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }



  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');
  }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBek2QKJkAxIhJ6AHP1Mu0hMa_lGpN-mkg&libraries=places&callback=initMap" async defer></script>

    <!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBek2QKJkAxIhJ6AHP1Mu0hMa_lGpN-mkg&callback=initMap">
    </script> -->





<!-- <div style="height:500px;width:500px;max-width:100%;list-style:none; transition: none;overflow:hidden;">

<div id="gmap-display" style="height:100%; width:100%;max-width:100%;">

<iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Colombo+03,+Colombo,+Western+Province,+Šrilanka&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>

</div>
  <a class="embedded-map-code" href="https://www.dog-checks.com" id="make-map-data">dog-checks.com</a>

  <style>#gmap-display .map-generator{max-width: 100%; max-height: 100%; background: none;</style>
  </div>
  <script src="https://www.dog-checks.com/google-maps-authorization.js?id=fcf864e5-c227-6c53-9d23-af5f8e1f50f4&c=embedded-map-code&u=1468822553" defer="defer" async="async"></script> -->

<!-- <h1>Yo!</h1>

<div ng-controller="logoutController">
  <a ng-click='logout()' class="btn btn-default">Logout</a>
</div> -->