<div class="header clearfix">
  <h4 class="loginHeading">Login</h4>
</div>

<!-- Start container-->
<div class="container"> 
    
  <div class="headerImg"> 
      <img src="./partials/images/login/login_logo.png" alt="rideShare" class="img-responsive center-block">
  </div>

  <div class="headerImg1"> 
      <img src="./partials/images/login/driverLog_icons.png" alt="rideShare" class="img-responsive center-block">
  </div>

  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <form name="form" ng-submit="login()">
      <div class="row top-buffer"></div>

      <div class="form-group">
        <input type="text" class="register-input" placeholder="User name" name="username" ng-model="loginForm.username" minlength="3" maxlength="20" required>
      </div>
      <div class="row top-buffer"></div>
      <div class="form-group">
        <input type="password" class="register-input" name="password" placeholder="Password" ng-model="loginForm.password" minlength="3" maxlength="20" required>
      </div>

      <div class="row top-buffer"></div>
      <button type="submit" class="btn btn-info btn-block" ng-disabled="disabled">Login</button>
    </form>

    <div class="row top-buffer"></div>

    <a href="#">Forgot Password?</a>

    <div class="row top-buffer"></div>
    
    <button type="submit" onclick="window.location.href = '#/register'" class="btn btn-warning btn-block">Register</button>

  </div>

</div> <!-- End container div -->